name: hockey_modelling
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pip:
    - requests>=2.31.0
    - nhl-api-py>=0.1.0
    - pandas>=2.0.0
    - scikit-learn>=1.3.0
